.homepagewrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formwrapper {
  background: #282a46;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

.inputgroup {
  display: flex;
  flex-direction: column;
}

.mainlabel {
  margin-bottom: 20px;
  margin-top: 0%;
}

.homepagelogog {
  height: 80px;
  margin-bottom: 30px;
}

.inputbox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.joinbtn,
.leavebtn,
.copybtn {
  background: #4aed88;
  width: 100px;
  margin-left: auto;
}

.copybtn:hover {
  background: #2b824c;
}
.leavebtn:hover {
  background: #2b824c;
}
.joinbtn:hover {
  background: #2b824c;
}
.createinfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createnewbtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;
}

.createnewbtn:hover {
  color: #2b824c;
}

.mainwrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideinner {
  flex: 1;
}

.clintlist {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.username {
  margin-top: 10px;
}
.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoimage {
  height: 60px;
}

.leavebtn,
.copybtn {
  width: 100%;
  margin-bottom: 10px;
}

.CodeMirror{
  min-height: calc(100vh - 500px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}